
@each $n, $c in $color-list {
    .pricing-desc-title-#{$n} {
        font-size: 24px;
        text-align: center;
        background-color: $c;
        color: #fff;
        margin: 0;
        padding: 21px 5px 20px 5px;
        height: 122px;
    }
    
    .pricing-table-head-#{$n} {
        background-color: $c;
        color: #fff;
    
        h2 {
            font-size: 1.3em;
            text-align: center;
            background-color: rgba(0,0,0,0.1);
            color: #fff;
            margin: 0;
            font-weight: 400;
            height: 70px;
            padding-top: 15px;
    
            span {
                font-size: 12px;
                display: block;
                padding-top: 5px;
            }
        }
    
        .price {
            margin: 0;
            font-size: 24px;
            font-weight: 400;
            height: 52px;
            line-height: 52px;
            text-align: center;
    
            i {
                font-style: normal;
                font-size: 32px;
            }
        }
    }
    
    
    .pricing-table-content {
        text-align: center;
    }
    
    .pricing-table-description .pricing-table-content {
        text-align: left;
    }
    
    .pricing-table-content li:nth-child(2n+1) {
        background-color: rgba(0,0,0,0.03);
    }
    
    .pricing-table-description-#{$n} i {
        margin: 0 15px 0 5px;
        color: $c;
        font-size: 1.1em;
    }
    
    }