.ms-hero-img-lastcall {
  background-image: url(https://d2f908d3j7stzr.cloudfront.net/chspride/lastcall/latrice2.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}
