.ms-hero-img-board {
  background-image: url(board.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}

.ms-hero-img-serve {
  background-image: url(apply.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}

.ms-hero-img-roles {
  background-image: url(roles.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}

.board-member .card-body {
  padding-bottom: 0;
}
.board-member .bio {
  height: 200px;
  overflow: scroll;
  margin: 20px 0;
}
