.ms-hero-img-board {
  background-image: url(stingray.jpeg);
  background-size: cover;
  background-position: top center;
  height: 400px;
}

.ms-hero-img-serve {
  background-image: url(apply.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}

.ms-hero-img-roles {
  background-image: url(roles.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}

.board-member .card-body {
  padding-bottom: 0;
}

.board-member .bio {
  min-height: 200px;
}

.vacancy .description {
  height: 150px;
  overflow: scroll;
  margin: 20px 0;
}

.board-member .panel {
  height: 95%;
}

.board-member .panel-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
