.ms-hero-img-sponsorships {
  background-image: url(sponsorships.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.color-caution {
  color: #ffc107;
}

.branding.card.card-danger,
.branding.card.card-warning,
.branding.card.card-caution {
  min-height: 350px;
}
.branding.card {
  min-height: 265px;
}
