.footer-chs{
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    line-height: 0.8em;
}
.footer-pride{
    font-family: 'Gotham Bold', 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 5.75em;
    line-height: 0.8em;
}
