#pride .ms-hero {
  background-image: url(./Assets/pride.jpg);
  background-size: cover;
  background-position: center center;
}

#pride h1 {
  font-family: "Gotham Bold", "Roboto", sans-serif;
  font-weight: bold;
}
