#pride .ms-hero {
  background-image: url(./Assets/pride.jpg);
  background-size: cover;
  background-position: center center;
}

#pride .card-body {
  min-height: auto;
}

#redux {
  max-height: 100px;
  margin: auto;
}
#condon {
  max-height: 100px;
}

@media (max-width: 767px) {
  .timeline-time span.day::before{
    content: ",";
  }
}