.nav-item {
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.nav-item:hover i {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.ms-navbar .navbar-collapse .navbar-nav .nav-item.bg-warning > a:hover {
  color: white;
}
